.border {
  width: fit-content;
  padding: 40px;
  background-color: #8ec5fc;
  background-image: linear-gradient(33deg, #8ec5fc 0%, #f7ecf7 100%);
}
html {
  background: #373b44;
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  background: linear-gradient(to right, #4286f4, #373b44);
}
.border:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}
